.flash_item{
    padding: 30px 0;
    border: 2px solid #FF324D;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.flash_item img{
    width: 200px;
    height: 200px;
   
}
.flash_sale{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}
.flash_content{
    text-align: center;
}
.flash_content strong{
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0;
    color: #d9a1a3;
}
.flash_content p{
    line-height: 1.6;
    font-weight: 400;
    font-family: lato,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif;
    color: #777;
    font-size: 15px;
    margin: 0;
}
.flash_content del{
    font-weight: 400;
    text-decoration: line-through;
    color: rgba(21,21,21,.5);
}
.flash_content a {
    text-decoration: none;
    color: #3b9048;
    text-transform: uppercase;
  
}
.flash_content h2{
      font-size: 20px;
    font-weight: 400;
    font-family: roboto condensed,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif;
    letter-spacing: .025em;
    margin: 0;
}
#col_time{
    margin-left: 10px;
    padding: 5px 10px;
}
#col_time>p{
    font-size: 14px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.title img{
    height: 40px;
    margin-left: 7px;
}